.question-link:hover {
	transform: scale(1.01);
	background: rgba(255,255,255,0.08);
}
.question-link {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.question-link span {
	text-align: left;
}
.question-counter {
	margin-left: 1em;
	font-weight: bold;
	color: #fff;
}
.question-link {
	border: 2px solid #fff;
	padding: 0.7em 1.2em;
	color: #fff;
	text-decoration: none;
	border-radius: 8px;
	font-size: 1.1em;
	font-weight: 500;
	background: transparent;
	transition: background 0.2s, color 0.2s;
	display: block;
	width: 100%;
	box-sizing: border-box;
	max-width: 100%;
	overflow: hidden;
}
.nav-links {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	gap: 1em;
}
body { background: #f8f8f0; }

main {
	flex: 1 0 auto;
	min-height: 0;
	display: flex;
	flex-direction: column;
    justify-content: stretch;
    width: 100%;
}

.intro-fieldset {
    flex-shrink: 0;
	border: 2px solid #fff;
	border-radius: 8px;
	margin: 0;
	padding-left: 1rem;
	width: 100%;
	box-sizing: border-box;
}

.intro-fieldset p {
    color: #10ce3d;
    font-size: 1.2em;
    font-weight: bold;
	text-align: left;
}
.main-fieldset {
    flex: 1 1 0;
	border: 2px solid #fff;
	border-radius: 8px;
    margin: 1.5em auto 0 auto;
	padding: 2rem 1.5rem 1.5rem 1.5rem;
	width: 100%;
	box-sizing: border-box;
}